.login {
    overflow: hidden;
    background-color: #f89cab;
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 5px 10px 10px rgba(229, 235, 236, 0.94);

    span {
        font-weight: 400;
    }

    > input {
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }
    > input:focus {
        color: black;
    }

    > button {
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: #b5616e;
        transition: all .3s;
    }
    > button:hover {
        background-color: #f15c74;
    }
}

.login-container {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 120px;
}

.login-container-item {
    overflow: hidden;
    background-color: rgb(249, 236, 230);
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
    width: 500px;
    height: 280px;
    box-shadow: 5px 10px 10px rgba(229, 235, 236, 0.94);

    > input {
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }
    > input:focus {
        color: black;
    }

    > button {
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: rgba(244, 91, 105, 1);
        transition: all .3s;
    }

    > button:hover {
        background-color: #ffffff;
        color: #db4566;
    }
}

.error {
    padding-left: 21px;
    color: red;
    position: absolute;
    top: 70%;
    left: 35%;
    max-width: 495px;
}

.user-info {
    color: black;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user-info div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}


.profile-body {
    background-color: #f1f1f1;
    margin-left: 45px;
    margin-right: 45px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-body-1 {
    background-color: #f1f1f1;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 40px;
    border-radius: 15px;
}

.profile-body-1-header {
    background-color: #f9ece6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 60px;
    max-height: 1000px;
    overflow-y: visible;
}

.profile-actions div {
    border-radius: 25px;
    padding: 10px 10px 10px 15px;
}

.profile-actions button {
    background-color: #db4f66;
    color: white;
}



.profile-upper-div {
}

.profile-upper-div h2 {
    text-align: center;
}
.profile-upper-div p {
    font-size: 20px;
}

.card-item-buttons {
    margin-top: 20px;
    width: 100%;
}

.shop-after-items {
    display: flex;
    justify-content: center;
}

.shop-after-items .btn-modal {
    margin-top: 50px;
    margin-bottom: 50px;
}

.shop-after-items .btn-modal-6 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.shop-after-items .btn-modal-7 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.shop-after-items .btn-modal-8 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.item-search-input {
    width: 100%;
    border-color: transparent;
    background-color: #fae4db;
    border-radius: 4px;
    height: 60px;
    font-size: 25px;

    &:hover {
        border: 2px solid black;
    }
}


.nav_slider_btn {
    align-items: center;
    justify-items: center;
}

._carousel-control-prev {
    position: unset;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    opacity: 1;
    background-position: center;
    color: rgba(6, 6, 6, 0.98) !important;
    font-size: 14px;
    text-decoration: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.15s ease;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

._carousel-control-prev:hover {
    color: #f89cab !important;
}

.testimonial_buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        background-color: #db4f66;
        width: 50px;
        height: 30px;
        font-size: 20px;
        color: white !important;
        border-radius: 5px;
    }
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to left, #9c4b63, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to left, #a6904f, #e8b317) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}




.login-page-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background-color: rgb(241, 208, 212);
}

.form-v10-content {
    width: 1100px;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    -o-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    margin: 95px 0;
    position: relative;


    h2 {
        border-bottom: 3px solid rgba(6, 6, 6, 0.98);
    }
}

.form-detail {
    position: relative;
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.form-row {
    margin-bottom: 24px;
    padding-left: 60px;
    padding-right: 50px;

    > input {
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }
    > input:focus {
        color: black;
    }
}

.form-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    background-color: #f89cab;

    h2 {
        color: black;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 34px;
        padding: 33px 50px 0 60px;
        width: 370px;
        transition: transform 0.2s ease-out;
    }

    h2:hover {
        transform: scale(1.1) translateX(17px);
    }
}

.form-right {
    width: 100%;
    background-color: #f15c74;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    h2 {
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 34px;
        padding: 33px 50px 0 60px;
        width: 310px;
        transition: transform 0.2s ease-out;
    }

    h2:hover {
        transform: scale(1.1) translateX(14.5px);
    }
}

.form-row-last {
    padding-left: 50px;
    margin-bottom: 35px;

    > button {
        cursor: pointer;
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: #b5616e;
        transition: all .3s;
    }
    > button:hover {
        background-color: #f8a4b1;
    }
}

.fa {
    display: inline-block;
    font-size: 40px !important;
    text-rendering: auto;
    margin-top: -10px;
}

.fa-quote-left {
    content: "\f10d";
}


.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-label {
    margin: 25px 45px -15px;
    display: flex;
}

.search-label span {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

._slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f39aae;
    -webkit-transition: .4s;
    transition: .4s;
}

._slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + ._slider {
    background-color: #972d44;
}

input:focus + ._slider {
    box-shadow: 0 0 1px #972d44;
}

input:checked + ._slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
._slider.round {
    border-radius: 34px;
}

._slider.round:before {
    border-radius: 50%;
}

.applied-filters {
    display: flex;
    align-items: center;
}