.login {
    overflow: hidden;
    background-color: rgb(249, 236, 230);
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 500px;
    height: 280px;
    box-shadow: 5px 10px 10px rgba(229, 235, 236, 0.94);

    > input {
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }
    > input:focus {
        color: black;
    }

    > button {
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: rgba(244, 91, 105, 1);
    }
}

.login-container {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 120px;
}

.login-container-item {
    overflow: hidden;
    background-color: rgb(249, 236, 230);
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
    width: 500px;
    height: 280px;
    box-shadow: 5px 10px 10px rgba(229, 235, 236, 0.94);

    > input {
        display: block;
        border-radius: 5px;
        font-size: 16px;
        background: white;
        width: 100%;
        border: 0;
        padding: 10px 10px;
        margin: 15px -10px;
    }
    > input:focus {
        color: black;
    }

    > button {
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: rgba(244, 91, 105, 1);
    }
}

.error {
    padding-left: 21px;
    color: red;
    position: absolute;
    top: 70%;
    left: 35%;
    max-width: 495px;
}

.user-info {
    color: black;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.user-info div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}


.profile-body {
    background-color: #f0e6e9;
}

.profile-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 60px;
    max-height: 1000px;
    overflow-y: visible;
}

.profile-actions div {
    border-radius: 25px;
    padding: 10px 10px 10px 15px;
}

.profile-actions button {
    background-color: #db4f66;
    color: white;
}



.profile-upper-div {
}

.profile-upper-div h2 {
    text-align: center;
}
.profile-upper-div p {
    font-size: 20px;
}