.image-file-uploader {
    width: 1000px
}

.fr-page-content {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: -40px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f5cfd2;
}

.fr-form-content {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    margin: 95px 0;
    position: relative;
}

.fr-form-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    background-color: #f89cab;
}

.try-button {
    width: 100%;
    height: 50px;
    background-color: #e0c9cb;

    &:hover {
        background: #BA7E7E;
        transition: all .4s ease-in-out;
    }
}

.flex-direction-column {
    /*flex-direction: column;*/
    margin-bottom: 20px;
    margin-top: 20px;
}



.loaded-image {
    border-radius: 10px;
    width: 550px;
    height: auto;
}

.loaded-image-admin {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.selected-item-image {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combine-button {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #db4566;
    color: white;
    display: flex;
    margin: 50px auto 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 500px;
    height: 100px;

    &:hover {
        background-color: #ffffff;
        color: #db4566;
    }
}

.drag-and-drop-area {
    height: 100%;
    border: 2px dashed black;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.result-div {
    text-align: center;
}


.result-image {
    margin-left: 45px;
    margin-right: 45px;
    background-color: #e0c9cb;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    button {
        padding: 10px 20px;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: all .3s;
        background-color: #db4566;
        color: white;
    }

    button:hover {
        background-color: #ffffff;
        color: #db4566;
        border: 1px solid #db4566;
    }
}