body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #db4566;
    color: white;
    display: inline-block;
    margin: 100px auto 0;
    font-size: 18px;
}

.btn-modal-1 {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #ae9615;
    color: white;
    display: inline-block;
    margin: 100px auto 0;
    font-size: 18px;
}

.btn-modal-2 {
    background: #E0C9CB;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    width: 67%;
    transition: all .3s;

    &:hover {
        background: #BA7E7E;
        transition: all .4s ease-in-out;
    }
}

.btn-modal-3 {
    background: #109dbd;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: #126477;
        transition: all .3s ease-in-out;
    }
}

.btn-modal-4 {
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #db4566;
    color: white;
    display: inline-block;
}

.btn-modal-5 {
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #e4b39c;
    color: white;
    display: inline-block;
    margin-top: 5px;
}

.btn-modal-6 {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: darkseagreen;
    color: white;
    display: inline-block;
    margin: 100px auto 0;
    font-size: 18px;
}

.btn-modal-7 {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #9f9fd6;
    color: white;
    display: inline-block;
    margin: 100px auto 0;
    font-size: 18px;
}

.btn-modal-8 {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: rgba(76, 73, 71, 0.5);
    color: white;
    display: inline-block;
    margin: 100px auto 0;
    font-size: 18px;
}

.btn-modal-2-disabled {
    background: #E0C9CB;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    width: 67%;
    transition: all .3s;
}

.btn-modal:hover {
    background-color: #ffffff;
    color: #db4566;
}

.btn-modal-1:hover {
    background-color: #ffffff;
    color: #ae9615;
}

.btn-modal-4:hover {
    background-color: #ffffff;
    color: #db4566;
}

.btn-modal-5:hover {
    background-color: #ffffff;
    color: #e4b39c;
}

.btn-modal-6:hover {
    background-color: #ffffff;
    color: darkseagreen;
}

.btn-modal-7:hover {
    background-color: #ffffff;
    color: #9f9fd6;
}

.btn-modal-8:hover {
    background-color: #ffffff;
    color: rgba(76, 73, 71, 0.5);
}

._modal, .overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

._modal {
    animation: slideUp 0.4s ease-out forwards;
}

._modal.slide-down {
    animation: slideDown 0.4s ease-out forwards;
}

._modal-item {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
._modal-order {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    animation: slideLeft 0.4s ease-out forwards;
}

._modal-order1 {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    animation: slideRight1 0.3s ease-out forwards;
}

._modal-item {
    animation: slideDown1 0.3s ease-out forwards;
}


._modal-item.slide-up {
    animation: slideUp1 0.4s ease-out forwards;
}
._modal-order.slide-right {
    animation: slideRight 0.4s ease-out forwards;
}
._modal-order1.slide-left {
    animation: slideLeft1 0.3s ease-out forwards;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 15px;
    max-width: 600px;
    min-width: 300px;
    z-index: 2;
    max-height: 1000px;
    overflow-y: auto;
}

.modal-content-order {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 15px;
    width: 65%;
    min-width: 300px;
    z-index: 2
}

.modal-content input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #f4d4c6;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #e6e0e1;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close-modal:hover, .submit-modal:hover {
    background-color: #ffffff;
}

.submit-modal {
    border: 1px solid;
    border-radius: 5px;
    transition: all .3s;
    background-color: #e6e0e1;
    padding: 5px 7px;
}

.modal-price-input {
    border: none;
    background-color: transparent;
    width: 70px
}

.modal-item-input {
    border: none;
    width: 65px;
    background-color: transparent;
    margin-left: 30px;
    margin-top: -9px;
    font-size: 28px;
}

.modal-item-price-input {
    background-color: transparent;
    margin-left: 30px;
    font-size: 26px;
    border-radius: 10px;
}

.modal-item-stock-span {
    margin-left: 80px;
    margin-top: -9px;
    font-size: 21px;
    color: #9c9c9f;
}

.image-modal {
    width: 140px;
    max-height: 140px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.div-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
}
.div-box {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 0 20px;
}
.arrow-line {
    flex-grow: 1;
    height: 2px;
    background-color: black;
    position: relative;
}
.arrow-line::after {
    content: '';
    position: absolute;
    right: -10px;
    top: -5px;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(-45deg);
}












@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slideDown1 {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp1 {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft1 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideRight1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}