.order-card {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

@media(max-width:767px) {
    .order-card {
        width: 80%
    }
}

@media(height:1366px) {
    .order-card {
        width: 75%
    }
}

#orderno {
    padding: 1vh 2vh 0;
    font-size: 20px
}

.gap .col-2 {
    background-color: rgb(213, 217, 233);
    width: 1.2rem;
    padding: 1.2rem;
    margin-top: -2.5rem;
    border-radius: 1.2rem
}

.title {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.main {

}

.main img {
    border-radius: 10px
}

.main p {
    margin-bottom: 0;
    font-size: 0.75rem
}

#sub-title p {
    margin: 1vh 0 2vh 0;
    font-size: 20px;
}

.row-main {
    padding: 1.5vh 0;
    align-items: center
}

hr {
    margin: 1rem -1vh;
    border-top: 1px solid black
}

.total {
    font-size: 1rem
}

@media(height: 1366px) {
    .main p {
        margin-bottom: 0;
        font-size: 1.2rem
    }

    .total {
        font-size: 1.5rem
    }
}

.status-done {
    transform: scale(1.2);
}

.for-admin {
    transition: transform ease .3s;
    &:hover{
        cursor: pointer;
        transform: scale(1.4);
    }
}

.shipping-statuses {
    margin-top: 20px;
    display: flex;
    position: relative;
    width: 100%;
}

.shipping-statuses p {
    position: absolute;
    text-align: center;
}

.shipping-statuses p:first-child { left: 0; }
.shipping-statuses p:nth-child(2) { left: 30%; }
.shipping-statuses p:nth-child(3) { left: 64.3%; }
.shipping-statuses p:last-child { right: 0; }